<span style="color: gold">THE GOLDEN LION</span>

SABOR, the lioness, suckled her young—a single fuzzy ball,
spotted like Sheeta, the leopard. She lay in the warm
sunshine before the rocky cavern that was her lair, stretched
out upon her side with half closed eyes, yet Sabor was alert.
There had been three of these little, fuzzy balls at first—two
daughters and a son—and Sabor and Numa, their sire, had
been proud of them; proud and happy. But kills had not been
plentiful, and Sabor, undernourished, had been unable to
produce sufficient milk to nourish properly three lusty cubs,
and then a cold rain had come, and the little ones had sickened.
Only the strongest survived—the two daughters had died.
Sabor had mourned, pacing to and fro beside the pitiful bits of
bedraggled fur, whining and moaning. Now and again she
would nose them with her muzzle as though she would awaken
them from the long sleep that knows no waking. At last,
however, she abandoned her efforts, and now her whole savage
heart was filled with concern for the little male cub that
remained to her. That was why Sabor was more alert than
usual.<br>

&nbsp;&nbsp;&nbsp;&nbsp;Numa, the lion, was away. Two nights before he had made
a kill and dragged it to their lair and last night he had fared
forth again, but he had not returned. Sabor was thinking, as she
half dozed, of Wappi, the plump antelope, that her splendid
mate might this very minute be dragging through the tangled
jungle to her. Or perhaps it would be Pacco, the zebra, whose
flesh was the best beloved of her kind—juicy, succulent Pacco.
Sabor’s mouth watered.

&nbsp;&nbsp;&nbsp;&nbsp;Ah, what was that? The shadow of a sound had come to
those keen ears. She raised her head, cocking it first upon one
side and then the other, as with up-pricked ears she sought to
catch the faintest repetition of that which had disturbed her.
Her nose sniffed the air. There was but the suggestion of a
breeze, but what there was moved toward her from the
direction of the sound she had heard, and which she still heard
in a slightly increasing volume that told her that whatever was
making it was approaching her. As it drew closer the beast's
nervousness increased and she rolled over on her belly,
shutting off the milk supply from the cub, which vented its
disapproval in miniature growls until a low, querulous whine
from the lioness silenced him, then he stood at her side,
looking first at her and then in the direction toward which she
looked, cocking his little head first on one side and then on the
other.

&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.gutenberg.org/ebooks/58874">[continue reading at gutenberg.org]</a>
